/*root element design*/
:root {
    --bg-color:black;
    --second-bg-color:#081b29;
    --text-color:white;
    --main-color:aqua;
}

/*All body design*/
body{
    background: var(--bg-color);
    overflow-x: hidden;
}

/* All span design*/
span{
    color: var(--main-color);
}

/*All p->(paragraph) design*/
p{
    font-family: serif;
}

/*All input design*/
input{
    width: 600px;
}

/*All buttons design*/
button {
    background: var(--bg-color);
    color: var(--main-color);
    border-radius: 20px 20px 20px 20px;
    padding: 1vh;
}

/*All label design*/
label{
    color: var(--text-color);
}

/*All active design*/
#active{
    color: var(--main-color);
}

/*Header section design*/
.header{
    position: fixed;
    background: black;
    top: 0;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    display: flex;
}
.navbar{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 200px;
}
.navbar a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    padding: 6px 8px;
    font-size: 18px;
    font-family: serif;
}

/*Home section design*/
.home{
    position: relative;
}
.home-content{
    position: absolute;
    left: 100px;
    top: 200px;
    color: white;
}
.image-home{
    position: absolute;
    right: 150px;
    top: 100px;
}
.text-hi{
    font-size: 40px;
    font-family: Rowdies;
}
.text-name{
    font-size: 40px;
    font-family: Monoton;
}
.text-post{
    font-size: 40px;
    font-family: serif;
}

/*Skill section design*/
.skill{
    position: relative;
}
.text-skill{
    position: absolute;
    left: 450px;
    top: 700px;
    color: white;
    font-size: 50px;
}
.skill-content{
    position: absolute;
    left: 500px;
    top: 800px;
}

/*Service section design*/
.service{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20vw;
}
.text-service{
    color: white;
    font-size: 70px;
    position: absolute;
    left: 650px;
    top: 1000px;
}
.service>div{
    position: relative;
    /*left: 100px;*/
    top: 850px;
    width: 200px;
    height: 300px;
    background-image: linear-gradient(to bottom,aqua,black);
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    padding: 5vh;
}
.service-font{
    color: black;
    font-size: 18px;
    font-family: serif;
}

