/*root element design*/
:root {
    --bg-color:black;
    --second-bg-color:#081b29;
    --text-color:white;
    --main-color:aqua;
}

/*All body design*/
body{
    background: var(--bg-color);
    overflow-x: hidden;
}

/* All span design*/
span{
    color: var(--main-color);
}

/*All p->(paragraph) design*/
p{
    font-family: serif;
}

/*All input design*/
input{
    width: 600px;
}

/*All buttons design*/
button {
    background: var(--bg-color);
    color: var(--main-color);
    border-radius: 20px 20px 20px 20px;
    padding: 1vh;
}

/*All label design*/
label{
    color: var(--text-color);
}

/*All active design*/
#active{
    color: var(--main-color);
}

/*Header section design*/
.header{
    position: fixed;
    background: black;
    top: 0;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    display: flex;
}
.navbar{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 200px;
}
.navbar a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    padding: 6px 8px;
    font-size: 18px;
    font-family: serif;
}

/*Home section design*/
.home{
    position: relative;
}
.home-content{
    position: absolute;
    left: 100px;
    top: 200px;
    color: white;
}
.image-home{
    position: absolute;
    right: 150px;
    top: 100px;
}
.text-hi{
    font-size: 40px;
    font-family: Rowdies;
}
.text-name{
    font-size: 40px;
    font-family: Monoton;
}
.text-post{
    font-size: 40px;
    font-family: serif;
}

/*Skill section design*/
.skill{
    position: relative;
}
.text-skill{
    position: absolute;
    left: 450px;
    top: 700px;
    color: white;
    font-size: 50px;
}
.skill-content{
    position: absolute;
    left: 500px;
    top: 800px;
}

/*Service section design*/
.service{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20vw;
}
.text-service{
    color: white;
    font-size: 70px;
    position: absolute;
    left: 650px;
    top: 1000px;
}
.service>div{
    position: relative;
    /*left: 100px;*/
    top: 850px;
    width: 200px;
    height: 300px;
    background-image: linear-gradient(to bottom,aqua,black);
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    padding: 5vh;
}
.service-font{
    color: black;
    font-size: 18px;
    font-family: serif;
}

/*Works section design*/
.work{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.text-work{
    position: absolute;
    color: white;
    font-size: 50px;
    left: 700px;
    top: 700px;
}
.btn-project{
    position: absolute;
    left: 700px;
    top: 850px;
}
.btn-project>a>button{
    background: black;
    color: aqua;
}
.work-content{
    position: relative;
    left: 70px;
    top: 900px;
    width: 200px;
    height: 300px;
    background-image: linear-gradient(to bottom,aqua,black);
    text-align: center;
    border: 5px solid black;
    border-radius: 20px 20px 20px 20px;
    padding: 5vh;
}

/*Gallery section design*/
.gallery-index{
    position: relative;
}
.text-gallery{
    position: absolute;
    font-size: 30px;
    color: white;
    left: 50px;
    top: 1000px;
}
.btn-gallery{
    position: absolute;
    left: 100px;
    top: 1200px;
    font-family: serif;
}

/*Contact section design*/
.contact{
    position: relative;
}
.text-contact{
    position: absolute;
    color: white;
    font-size: 50px;
    left: 50px;
    top: 1350px;
}
.contact-content{
    position: absolute;
    left: 100px;
    top: 1400px;
    font-size: 20px;
    font-family: serif;
    flex: 55%;
    margin-top: 4%;
    background-color: black;
    padding: 3%;
}
input[type=text]{
    border-radius: 5px;
    padding: 12px;
    background-color: black;
    color: white;
}
textarea{
    border-radius: 5px;
    padding: 12px;
    background-color: black;
    width: 600px;
    color: white;
}
input[type=submit]{
    position: absolute;
    right: 200px;
    top: 2000px;
    background: black;
    color: aqua;
    border-radius: 20px 20px 20px 20px;
    width: 150px;
    padding: 1vh;
}

/*Footer design*/
footer{
    height: 5vh;
    width: 100%;
    background: aqua;
    text-align: center;
    padding: 10px;
    color: black;
    position: relative;
    top: 2100px;
}

/*About.html section design*/

/*About section design*/
.about{
    position: relative;
}
.text-about{
    color: white;
    position: absolute;
    left: 70px;
    top: 0;
    font-family: Nunito;
    font-size: 28px;
}
.image-about{
    position: absolute;
    left: 50px;
    top: 100px;
}
.about-content{
    position: absolute;
    color: white;
    left: 400px;
    top: 100px;
}
.about-content>p{
    font-family: Nunito;
    font-size: 15px;
}

/*Education section design*/
.education{
    position: relative;
}
.text-education{
    font-family: Nunito;
    font-size: 28px;
    position: absolute;
    color: white;
    left: 750px;
    top: 200px;
}
.education-content{
    position: absolute;
    color: white;
    left: 500px;
    top: 270px;
    display: flex;
}
.education-content>div{
    justify-content: space-between;
    background: black;
    width: 200px;
    height: 300px;
    border: 5px solid black;
    left: 50px;
    text-align: center;
}

